<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Open Trivial
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div [hidden]="formulaireShow">
    
    <ion-item>
        <ion-label position="floating" >Name :</ion-label>
        <ion-input type="text" placeholder="..." [(ngModel)]="name"></ion-input>
    </ion-item>
 
    <ion-list>
      <ion-item>
        <ion-select interface="popover" placeholder="Select level" [(ngModel)]="level">
          <ion-select-option value="easy">easy</ion-select-option>
          <ion-select-option value="medium">medium</ion-select-option>
          <ion-select-option value="hard">hard</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Remember me</ion-label>
    </ion-item>
    <p></p>

    <div [hidden]="errorMessageShow">
      <p class="error">{{ errorMessage }}</p>
    </div>

    <ion-button (click)="onClickVerif()" expand="full" color="success" fill="outline">Validate</ion-button>
  </div>

  <div [hidden]="validformShow">
    <p >Bonjour {{name}} !</p>
    <h2>{{question}}</h2>
    <div *ngFor="let reponse of reponses" >
    <ion-button (click)="onClickAnswer(reponse)" [ngClass]="{'green': reponse == q?.Answers.Correct && AnswerEd, 'red': reponse !=  q?.Answers.Correct && AnswerEd, 'medium' : AnswerEd == false}" [disabled]="AnswerEd" shape="round">{{reponse}}</ion-button>
    </div>
    <!-- [ngClass]="{'green': reponse == q?.Answers.Correct && , 'red': reponse !=  q?.Answers.Correct}" -->
    <p></p>
    <ion-button  color="warning" expand="full"  (click)="onClickNextQuestion()" [hidden] ="nextShow">Question suivante</ion-button>
    <ion-button  color="warning" expand="full" [hidden] ="restartShow">Recommencer</ion-button>
  </div>



</ion-content>
